{{#if this.helpers.isRegistered}}
    <span>Usuario: {{this.data.username}}</span>
    {{else}}
    <a href="#">Registrate aqui</a>
{{/if}}
<h1>{{this.data.title}}</h1>
{{!-- 
Esto esta del lado del cliente CSR
<script>
    alert('hola mundo')
</script> 
--}}
{{!-- 
<script src="/script.js"></script> 
--}}