<h1>{{this.data.product.nombre}}</h1>
<p>{{this.data.product.descripcion}}</p>
<div>
    <b>Precio:</b> ${{this.data.product.precio}}
</div>
<div>
    <b>Quedan {{this.data.product.stock}} unidades disponibles!</b>
</div>
<button>Comprar</button>